.navbar {
  height: 100px;
}

.header-title {
  height: 100px;
  position: absolute;
  width: calc(100% - 100px);
}

.is-top {
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
}

.header-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}

.header-top-wrap {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.menu-control--btn {
  position: fixed;
  right: 10px;
  top: 0;
  z-index: 1000;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.menu-control--btn-entry {
  background-color: #F18B20;
  color: #fff;
  font-weight: 700;
  font-family: 'Meiryo UI', 'Meiryo', 'メイリオ';
}

.menu-control--btn button {
  width: 75px;
  height: 75px;
  width: 100px;
  height: 75px;
  white-space: nowrap;
  text-align: center;
  padding: 0;
  outline: none;
  font-size: 16px;
  font-size: 1rem;
  border: none;
}

.menu-list-fixed .menu-control--btn-menu {
  background-color: #ffffff !important;
}

.menu-control--btn-menu > span:before {
  top: -10px;
}

.menu-control--btn-entry > span:before {
  top: -10px;
}

.menu-control--btn-menu.is-open > span:before {
  top: 0;
  transform: rotate(45deg);
}

.menu-control--btn-entry.is-open > span:before {
  top: 0;
  transform: rotate(45deg);
}

.menu-control--btn-menu > span:after {
  bottom: -10px;
}

.menu-control--btn-menu.is-open > span:after {
  bottom: 0;
  transform: rotate(-45deg);
}

.menu-control--btn-entry.is-open > span:after {
  bottom: 0;
  transform: rotate(-45deg);
}

.menu-control--btn-menu span span, .menu-control--btn-entry.is-open span span {
  display: block;
  text-indent: -9999em;
  overflow: hidden;
  text-align: left;
}

.menu-control--btn-menu > span {
  display: block;
  height: 2px;
  width: 30px;
  background-color: #333;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.is-trigger.is-open > span:before, .is-trigger.is-open > span:after, .is-trigger.bg-open-button > span:before, .is-trigger.bg-open-button > span:after {
  background-color: #ffffff;
}

.menu-control--btn-entry.is-open > span {
  display: block;
  height: 2px;
  width: 30px;
  background-color: #ffffff;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.menu-control--btn-menu.is-open > span, .menu-control--btn-entry.is-open > span {
  background-color: transparent;
}

.menu-control--btn-menu > span:before, .menu-control--btn-menu > span:after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background-color: #333;
  position: absolute;
}

.menu-control--btn-entry.is-open > span:before, .menu-control--btn-entry.is-open > span:after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
}

.header-nav {
  padding-top: 75px;
  z-index: 100;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding-top: 100px;
  /*pointer-events: none;*/
}

.header-nav.is-open:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.3;
  z-index: 101;
}

.header-nav-parts {
  display: none;
}

.header-nav-parts.is-open {
  display: block;
}

.header-nav-wrap {
  background-color: #eeeeee;
  height: calc(100vh - 75px);
}

.header-nav-inner {
  max-width: 1240px;
  margin: 0 auto;
  padding: 55px 20px 45px;
}

.entry-menu-list {
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.menu-of-menu-hambuger {
  top: 100px;
  right: 0px;
  display: block;
  width: 203px;
  display: none;
  position: fixed;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  background-color: #F79646 !important;
  color: #fff;
  padding: 2px;
  z-index: 10;
  font-family: 'Meiryo UI’, Meiryo, メイリオ, Osaka';
}

.entry-menu-item.is-open {
  background-color: #F79646 !important;
  border-color: #F79646 !important;
  margin: 1px;
  /* border-radius: 0px; */
  border: 1px solid #f79646;
  color: #ffffff !important;
}

.conversion-list {
  list-style: none;
  justify-content: center;
}

.conversion-list li a {
  text-decoration: none;
  color: rgba(0,0,0,0.4);
}

.conversion-list li {
  list-style: none;
}

.menu-button-component .conversion-list ul li a {
  height: 50px;
}

.menu-entry-item {
  /* max-width: 350px; */
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  color: #000000;
  border: 1px solid #f79646;
  /* border-radius: 5px; */
  overflow: hidden;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  height: 65px;
}

.menu-entry-item-sub-list, .menu-entry-sub-list-item-list {
  z-index: 20;
  background-color: #f79646;
  color: #ffffff;
  padding: 0px;
  display: none;
}

#menu-entry-item-sub-list-first.is-open {
  display: block;
}

.menu-entry-item-sub-list a {
  display: block;
  background-color: #FDEADA;
  color: #fff;
  padding: 15px 25px 15px 30px;
  line-height: 1.6;
  font-size: 16px;
  font-size: 1rem;
}

/* hover mouse */

.conversion-list li:hover > a, .menu-entry-item-sub-list li:hover > a, .menu-entry-item-sub-list li.is-open > a {
  background: #F79646;
  color: #ffffff;
}

.menu-entry-item-sub-list li.is-open > a > span {
  color: #ffffff;
}

.menu-entry-item-sub-list li.is-open > a > span:before, .menu-entry-item-sub-list li.is-open > a > span:after, .conversion-list li:hover > a > span:before, .conversion-list li:hover > a > span:after {
  background-color: #ffffff;
}

.menu-entry-item-sub-list li:hover > a > span {
  color: #ffffff;
}

.menu-entry-item-sub-list li:hover > a > span:before, .menu-entry-item-sub-list li:hover > a > span:after {
  background-color: #ffffff;
}

/* end style hover */

.menu-entry-item-sub-list.is-open {
  display: block;
}

.menu-entry-item-sub-list a span {
  color: #000000;
}

.menu-entry-item-sub-list a.is-open > span {
  color: #ffffff;
}

.is-blank > span {
  padding-right: 18px;
  background: transparent url(../../assets/img/icon-blank-white@2x.png) no-repeat right center;
  background-size: 16px 14px;
  display: block;
}

.menu-entry-item-sub-list li {
  margin-top: 0;
  border-top: 1px solid #F5C898;
}

.menu-entry-item-sub-list li ul {
  display: none;
  background-color: #f79646;
  color: #fff;
  padding: 0px;
  line-height: 1.6;
  font-size: 16px;
  font-size: 1rem;
}

.menu-entry-item-sub-list li ul li a {
  color: #ffffff;
}

.has-child {
  position: relative;
  /*z-index: 10;*/
}

.is-trigger span {
  display: block;
  width: 100%;
  /* padding: 0 18px; */
  position: relative;
}

.is-trigger > span:before, .is-trigger > span:after {
  content: '';
  display: block;
  height: 1px;
  width: 14px;
  position: absolute;
  right: 0;
  top: 50%;
  background-color: #333;
}

.is-trigger.bg-span-white > span:before, .is-trigger.bg-span-white > span:after {
  background-color: #ffffff !important;
}

.is-trigger span:after {
  transform: rotate(90deg);
}

.is-trigger.is-open > span:after {
  transform: rotate(0);
}

.menu-level-1.is-open .menu-level-2 {
  left: 100%;
  position: absolute;
  width: 100%;
  top: 67px;
  max-width: 300px;
  display: block;
}

.is-open.menu-level-3 {
  left: 100%;
  position: absolute;
  width: 100%;
  top: 0px;
  max-width: 300px;
  display: block;
  border: 1px solid #fff;
}

.menu-level-3.menu-level-2--item-2-list.is-open {
  top: 55px;
}

li a.is-open, .is-open {
  color: #ffffff;
  background-color: #f79646;
}

.bg-open-button, .bg-open-button.is-trigger span {
  color: #ffffff !important;
  background-color: #f79646;
  border-color: #ffffff;
}

.menu-button-component li {
  /* width: 140px; */
}

a.btn-menu-control {
  height: 50px;
}

.menu-button-component ul li ~ a {
  padding-left: 2px;
  cursor: pointer;
  text-align: left;
}

.font-size-32 {
  font-size: 32px;
}

#menu_new, #menu_car {
  max-width: 200px;
  padding-right: 2px;
  height: 60px;
}

/* meida smart phone */

.min-height-260 {
  min-height: 260px;
}

.break-line-sp {
  display: none;
}

.show-sp {
  display: none;
}

#menu-new, #menu-car {
  max-width: 200px;
  padding-right: 2px;
  margin-top: 5px;
}

#menu-new li, #menu-car li {
  border-radius: 5px;
}

@media (max-width: 750px) {
  .hidden-sp {
    display: none;
  }

  .show-sp {
    display: block;
  }

  .menu-control--btn {
    right: 10px;
  }

  .min-height-260 {
    min-height: unset;
  }

  .break-line-sp {
    display: block;
  }

  .header-top {
    height: 13.33vw;
  }

  .header-nav-inner {
    padding: 0;
  }

  #menu-new, #menu-car {
    max-width: 200px;
    padding-right: 2px;
    margin-top: 5px;
  }

  .menu-level-1.is-open .menu-level-2, .is-open.menu-level-3 {
    position: inherit;
    max-width: 100%;
  }

  .conversion-list ul li {
    border-radius: 5px;
  }

  .conversion-list li a {
    height: 50px;
  }
  .menu-button-component ul.menu-level-3 {
    width: 100% !important;
  }
}

@media (max-width: 750px) {
  .menu-control--btn button {
    height: 7.33vw;
    width: 13.33vw;
    font-size: 12px;
  }
}

@media (max-width: 750px) {
  .page-title-header {
    position: absolute;
    top: 5px;
    left: 65px !important;
    font-weight: 800;
  }

  .page-title-header p {
    font-size: 14px;
  }
}

@media (max-width: 750px) {
  .header-nav {
    padding-top: 50px;
  }
}

@media (max-width: 750px) {
  .nav-container, .navbar {
    height: 50px;
  }
}

@media (max-width: 750px) {
  .description-text p {
    font-size: 12px !important;
  }
}

@media (max-width: 750px) {
  .font-18 {
    font-size: 14px !important;
  }
}

@media (max-width: 750px) {
  .font-size-20 {
    font-size: 16px !important;
  }
}

@media (max-width: 750px) {
  .font-size-24 {
    font-size: 18px !important;
  }
}

@media (max-width: 750px) {
  .border-line-heading {
    font-size: 24px !important;
  }
}

@media (max-width: 750px) {
  .logo-image {
    width: 65px;
  }

  .font-size-32 {
    font-size: 24px;
  }
}

@media (min-width: 992px) {
  .column-3-contents {
    max-width: 360px;
  }
}

